body{
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 129, 120);
    min-height: 100vh;
    text-align: center;
}
button{
    
      background-color: rgb(9, 222, 6);
      align-items: center;
      text-align: center;
      border-radius: 60px;
}
button:active{
    background-color: rgb(5, 8, 207);
}